---
  const SPAIN = 'ES'

  const country = Astro.request.headers.get('X-Vercel-IP-Country') ?? 'ES'

  const storeCountry = country === SPAIN ? 'spain' : 'usa'
  const countryName = country === SPAIN ? 'España' : 'Estados Unidos'

  const { buy } = Astro.props
  const url = buy[storeCountry]
---

<a
  class="text-black h-8 w-64 flex justify-center items-center bg-gray-100 border border-white rounded-2xl"
  href={buy.spain}>
    Compra en Amazon {countryName}
</a>